#chart-area {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid pink;
	background-color: aliceblue;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

.line {
	stroke: green;
	stroke-width: 3px;
}